.topdav{
    overflow: hidden;
    position: relative;
}

.styling{
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.buttonnav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 4px;
}

.buttonnav button{
    border-radius: 50%;
    border: none;
}

.buttonnav button:hover{
    background-color: rgb(219, 163, 163);
}
